.select-time{
  line-height: 16px;
  color:#545454;
  .radioS {
    width: 16px;
    height: 16px;
    border: 1px solid #cacaca;
    background: #f2f2f2;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    cursor: pointer;
    overflow: hidden;
    &.on{
      border-color: #5ea1fe;
      background: #fff;
      line-height: 16px;
      text-align: center;
      span{
        display: block;
        width: 10px;
        height: 10px;
        background: #5ea1fe;
        border-radius: 50%;
        margin: 3px 0 0 3px;
      }
    }
  }
  p{
    float: left;
    margin-right:18px;
    font-size:12px;
    &.radioS{
      margin-right:6px;
    }
  }
}