<div class="c_b select-time">
    <p class="radioS" ng-click="switch.startDate=!switch.startDate" ng-class="{'on':switch.startDate}"><span></span></p>
    <p>近一个月</p>

    <p class="radioS" ng-click="switch.startDate=!switch.startDate" ng-class="{'on':switch.startDate}"><span></span></p>
    <p>近三个月</p>
    <p class="radioS" ng-click="switch.startDate=!switch.startDate" ng-class="{'on':switch.startDate}"><span></span></p>
    <p>近一年</p>
</div>