<div id="people-tem">
    <!--<materials-list type1="peopleInfoCtrl.type1" type2="peopleInfoCtrl.type2"></materials-list>-->
    <div class="statistical-content">
        <div ui-view style="height: 100%;"></div>
    </div>
</div>

