<div id="deal-statis">
    <ul class="c_b">
        <li ng-repeat="item in dealStatisCtrl.dataList track by $index">
            <div class="bar-container">
                <bar-common
                        name="item.name"
                        id-name="item.value"
                        xdata="item.xData"
                        y-data="item.yData"
                        bar-color="item.barColor"
                        style="width:100%"
                ></bar-common>
            </div>
        </li>
    </ul>
    <div class="deal-percent">
        <h2>
            支付方式占比
        </h2>
        <div id="deal-percent-chart"></div>
    </div>
</div>