.box-shadow{
  -webkit-box-shadow: 10px 10px 10px #e5e5e5;
  -moz-box-shadow: 10px 10px 10px #e5e5e5;
  box-shadow: 10px 10px 10px #e5e5e5;
}
#deal-statis{
  padding:0 20px;
  background: #fff;
  ul{
    li{
      float: left;
      margin:10px 0 12px;
      padding-right: 42px;
      width: 50%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;

      &:nth-of-type(even){
        padding-right:40px;
      }
      .bar-container{
        @extend .box-shadow;
      }
    }
  }
  .deal-percent{
    height: 374px;
    margin-right:40px;
    @extend .box-shadow;
    h2{
      padding-top:20px;
      line-height: 34px;
      font-size: 16px;
      font-weight: bold;
      color: #2e2e2e;
    }
    #deal-percent-chart{
      width: 100%;
      height: 316px;
    }
  }
}