<div id="pickup-tel">
    <div class="pickup-table-container">
        <table-list
                table-class-name="telCtrl.tableClassName"
                show-thead='telCtrl.showThead'
                table-head-list='telCtrl.tableHeadList'
                table-body-list='telCtrl.tableBodyList'
                table-width='telCtrl.tableWidth'
                table-bg='telCtrl.tableBg'
                tr-line-height='telCtrl.trLineHeight'
                tr-border-b='telCtrl.trBorderB'
                is-interval='telCtrl.isInterval'
                thead-bg="telCtrl.theadBg"
                tr-even-bg='telCtrl.trEvenBg'
                tr-odd-bg='telCtrl.trOddBg'
                td-padding="telCtrl.tdPadding"
                tr-padding="telCtrl.trPadding"
        ></table-list>
    </div>
    <div class="page-container">
        <page style-option="telCtrl.style" args="telCtrl.args"></page>
    </div>

</div>

