<table ng-class="tableListCtrl.tableClassName" ng-style="{'width':tableListCtrl.tableWidth,'background':tableListCtrl.tableBg}">
    <thead ng-if="tableListCtrl.showThead" ng-style="{'background':tableListCtrl.theadBg}">
    <tr ng-style="{'line-height':tableListCtrl.trLineHeight,'border-bottom':tableListCtrl.trBorderB,}">
        <th ng-repeat="item in tableListCtrl.tableHeadList track by $index" ng-style="{'padding':tableListCtrl.trPadding}">
            {{item}}
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="items in tableListCtrl.tableBodyList track by $index" ng-style="{'background':tableListCtrl.isInterval?(($index%2)?'':tableListCtrl.trEvenBg):'','line-height':tableListCtrl.trLineHeight}">
        <td ng-repeat="item in items track by $index" ng-style="{'padding':tableListCtrl.tdPadding}">
            {{item}}
        </td>
    </tr>
    </tbody>
</table>