 <div id="people-info" class="c_b">
        <div class="head">
            <p><img src="../../../images/u105.png" alt="head"></p>
        </div>
        <div class="people-info-content">
            <div class="mb-36 c_b" style="height: 266px;">
                <div class="content-left">
                    <ul>
                        <li>
                            姓名：林俊杰
                        </li>
                        <li>
                            年龄：38
                        </li>
                    </ul>
                </div>
                <div class="content-right">

                </div>
            </div>
            <div class="c_b">
                <div class="content-left">
                </div>
                <div class="content-right">

                </div>
            </div>
        </div>
    </div>





