#people-info{
  padding:30px;
  height: 100%;
  font-size:12px;
  background: #fff;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-y: auto;
  .head{
    float: left;
    width: 120px;
    p{
      width: 60px;
      height: 60px;
      -webkit-border-radius:50%;
      -moz-border-radius:50%;
      border-radius:50%;
      overflow: hidden;
      img{
        width: 60px;
        height: 60px;
      }
    }
  }
  .people-info-content{
    margin-left:120px;
    font-size:14px;
    height: 100%;
    .mb-36{
      margin-bottom: 36px;
    }
    .content-left{
      width: 40%;
      margin-right:5%;
      @extend .block;
    }
    .block{
      padding:12px 28px;
      float: left;
      height: 266px;
      background: #f6f8f9;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      line-height: 38px;
      -webkit-border-radius:8px;
      -moz-border-radius:8px;
      border-radius:8px;
    }
    .content-right{
      width: 55%;
      @extend .block;
    }
  }
}