.statis{
  h2{
    margin-bottom:12px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
  }
  .mb-30{
    margin-bottom:30px;
  }
  //时间组件样式
  .select-date{
    .mb-24{
      margin-bottom:24px;
    }

  }

  .ana-statis-canvas{
    height: 210px;
  }
  .ana-statis-data{
    font-size: 12px;
    p{
      margin-bottom:12px;
      line-height: 28px;
      i{
        margin-right:14px;
        display: inline-block;
        width:20px;
        height: 12px;
        border-radius:2px;
        vertical-align: middle;
      }
      &.in i{
        background: #579dfe;
      }
      &.out i{
        background: #f9ca31;
      }
      span{
        display: inline-block;
      }
      span:nth-of-type(1){
        width: 62px;
      }
      span:nth-of-type(2){
        width: 92px;
      }
      span:nth-of-type(3){
        width: 70px;
      }
    }
  }
}

