
<div class="statis">
    <h2>
        {{statisCtrl.data.title}}
    </h2>
    <div class="select-date">
        <div class="mb-24">
            <set-date placeholder="开始时间"></set-date>
        </div>
        <div class="mb-24">
            <set-date placeholder="结束时间"></set-date>
        </div>


    </div>
    <div class="mb-30">
        <select-time></select-time>
    </div>

    <div class="ana-statis-canvas">
        <div id="ana-statis" style="width:260px;height:210px;"></div>
    </div>
    <div class="ana-statis-data">
        <p class="in"><i></i><span>总收入</span><span>999999</span><span>100000次</span></p>
        <p class="out"><i></i><span>总支出</span><span>88888</span><span>3999999次</span></p>
    </div>
</div>
