<div class="statistical" ng-style="{'height':containerHeight+'px'}">
    <div class="statistical-items">
        <ul>
            <li ng-repeat="items in navList track by $index" ng-init="outIndex=$index">
                <div class="top" ng-class="items.value" ng-click="items.show=!items.show"><i></i><span>{{items.name}}</span><em ng-class="{'on':items.show}"></em></div>
                <ul ng-show="items.show">
                    <li ng-repeat="item in items.subMenu track by $index"  ui-sref=".{{item.value}}({sourceId:'{{statisticalCtrl.user}}'})" ng-click="statisticalCtrl.subType = item.value;" ui-sref-opts="{reload:'.{{item.value}}'}" ng-class="{'on':statisticalCtrl.subType == item.value}">
                        <a href="javascript:void(0);">
                            {{item.name}}
                        </a>
                        <!--<div class="cover" ng-if="topIndex==outIndex&&subIndex==$index"></div>-->
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="statistical-container">
        <div ui-view style="height:100%;"></div>

    </div>
    <aside>
        <div class="materials-list-mini" ng-if="statisticalCtrl.switchAside" ng-click="statisticalCtrl.switchAside=false">
            <p class="head"><img src="./images/asside-phone-grey.svg" alt="" width="30" height="30"></p>
            <ul>
                <li ng-repeat="item in statisticalCtrl.materialsList track by $index">
                    <a href="javascript:void(0);" ng-class="{'on':statisticalCtrl.sourceName==item.id}">
                        <p>
                            <img ng-src="{{statisticalCtrl.loadImage(item.imgUrl)}}" />
                        </p>
                    </a>

                </li>
            </ul>
        </div>
        <div class="materials-list" ng-if="!statisticalCtrl.switchAside">
            <p class="head c_b">
                <img src="./images/asside-phone.svg" alt="" width="30" height="30">
                <span>检材列表</span>
                <i ng-click="statisticalCtrl.switchAside=true"></i>
            </p>
            <ul>
                <li ng-repeat="item in statisticalCtrl.materialsList track by $index" >
                    <a href="javascript:void(0);" class="c_b"  ui-sref=".{{statisticalCtrl.subType}}({sourceId:'{{item.id}}'})" ui-sref-opts="{reload:'.{{statisticalCtrl.subType}}'}" ng-click="statisticalCtrl.sourceId=item.id" ng-class="{'on':statisticalCtrl.sourceId==item.id}" >
                        <p class="fl">
                            <img ng-src="{{statisticalCtrl.loadImage(item.imgUrl)}}" />
                        </p>
                        <span class="fl">{{item.name}}</span>
                        <i class="woman"></i>
                    </a>
                </li>
            </ul>
            <div class="aside-add-material">
                <p>增加检材</p>
            </div>
        </div>
    </aside>
</div>