.bg-w{
  background: #fff;
}
.box-sizing{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.statistical{
  margin-top:26px;
  .statistical-items{
    float: left;
    width: 256px;
    @extend .bg-w;
    height: 100%;
    line-height: 54px;
    color:#5a5a5a;
    overflow-y: auto;
    ul li{
      cursor: pointer;
      div.top{
        padding:0 16px 0 22px;
        i{
          margin-right:11px;
          width: 17px;
          height: 17px;
          display: inline-block;
          vertical-align: text-bottom;
        }
        span{
          font-size:14px;
          font-weight: bold;
        }
        em{
          margin-top:24px;
          float: right;
          width: 11px;
          height: 11px;
          background: url("./images/arrow-down.png") no-repeat;
          &.on{
            transform: rotateZ(180deg);
          }
        }
        &.people-info i{
          background: url("./images/people-info.png") no-repeat;
          background-size: 17px 17px;
        }
        &.case-check i{
          background: url("./images/case-check.png") no-repeat;
        }
        &.lexicon-crash i{
          background: url("./images/lexicon-crash.png") no-repeat;
        }
        &.gang-check i{
          background: url("./images/gang-check.png") no-repeat;
        }
        &.time-check i{
          background: url("./images/time-check.png") no-repeat;
        }
        &.people-relation i{
          background: url("./images/people-relation.png") no-repeat;
        }
        &.activity-area i{
          background: url("./images/activity-area.png") no-repeat;
        }
        &.money-io i{
          background: url("./images/money-io.png") no-repeat;
        }
        &.collect-data i{
          background: url("./images/collect-data.png") no-repeat;
        }
      }
      ul li{
        line-height: 46px;
        height: 46px;
        position: relative;
        &:hover{
          background: #e5f6ff;
          a{
            color:#348bff;
          }
          &{
            border-right:3px solid #348bff;
          }
        }
        &.on{
          border-right:3px solid #348bff;
          background: #e5f6ff;
          a{
            color:#348bff;
          }
        }
        a{
          padding:0 16px 0 50px;
          display: block;
          color:#5a5a5a;
        }
        //.cover{
        //  position: absolute;
        //  top: 0;
        //  left: 0;
        //  width: 100%;
        //  height: 100%;
        //  z-index: 99;
        //}
      }
    }
  }
  .statistical-container{
    margin-left:280px;
    height: 100%;
    color:#5a5a5a;
    .statistical-content{
      margin-top:10px;
      overflow-y: auto;
    }
  }
  #people-tem{
    height: 100%;
    position: relative;
    .statistical-content{
      width:100%;
      position: absolute;
      top: 187px;
      left:0;
      bottom:0;
    }
  }
  aside{
    position: fixed;
    right:0;
    width:auto;
    top:64px;
    bottom:0;
    border:1px solid transparent;
    border-left-color:#e4e4e4;
    border-right-color:#e4e4e4;
    background: #fff;
    overflow-y: auto;
    &::-webkit-scrollbar{
      width: 4px;
      height: 1px;
    }
    &::-webkit-scrollbar-thumb{
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
      background: #535353;
    }
    &::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      background: #EDEDED;
    }
    .head{
      margin: 0 8px;
      padding: 30px 7px 0;
      border-bottom: 1px dashed #e3e3e3;
      height: 81px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    .materials-list-mini{
      ul{
        li{
          a{
            display: block;
            padding: 14px 12px;
            position: relative;
            cursor: pointer;
            p{
              width: 30px;
              height: 30px;
              overflow: hidden;
              border-radius:50%;
              img{
                width: 30px;
                height: 30px;
              }
            }
            &.on:after{
              position: absolute;
              top:17px;
              right:11px;
              content: '';
              width: 7px;
              height: 7px;
              background: #f00000;
              border-radius:50%;
            }
          }

        }
      }
    }

    .materials-list{
      width: 195px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      p{
        line-height: 30px;
        vertical-align: middle;
        i{
          float: right;
          margin-top:6px;
          width:20px;
          height: 20px;
          border-radius: 4px;
          background: #d2d2d2 url("./images/arrow-down.png") no-repeat center center;
          -webkit-transform: rotateZ(-90deg);
          -moz-transform: rotateZ(-90deg);
          -ms-transform: rotateZ(-90deg);
          -o-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
          cursor: pointer;
        }
        span{
          margin-left:12px;
          vertical-align:text-bottom;
          display: inline-block;
        }
      }
      ul{
        li{
          a{
            display: block;
            padding:18px 18px 18px 25px;
            line-height: 30px;
            &:hover{
              background: #e5f6ff;
            }
            &.on{
              background: #e5f6ff;
            }
            i{
              float: right;
              width: 18px;
              height: 18px;
              vertical-align: middle;
              &.woman{

              }
              &.man{

              }
            }
            span{
              margin-left: 15px;
              max-width:75px;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              color:#51575a;
            }
            p {
              width: 30px;
              height: 30px;
              overflow: hidden;
              border-radius: 50%;
              img {
                width: 30px;
                height: 30px;
              }
            }
          }

        }
      }
      .aside-add-material{
        p{
          margin:0 auto;
          width: 175px;
          height: 32px;
          line-height:32px;
          background:rgba(24, 144, 255, 1);
          color:#fff;
          text-align: center;
          cursor: pointer;
          -webkit-border-radius:4px;
          -moz-border-radius:4px;
          border-radius:4px;
        }
      }
    }
  }
}