<div class="statis-chat-item">
    <h3 class="c_b">
        <p class="on">
            <i class="all"></i>
            <span>全部</span>
        </p>
        <p>
            <i class="file"></i>
            <span>文件</span>
        </p>
        <p>
            <i class="img"></i>
            <span>图片/视频</span>
        </p>
        <p class="mr-18">
            <input type="checkbox" />
            <span>已删除</span>
        </p>
        <p class="mr-18">
            <input type="checkbox" />
            <span>倒序</span>
        </p>
        <div class="set-date">
            <date-tem data="chatItemCtrl.data"></date-tem>
        </div>
    </h3>
    <div class="statis-chat-list c_b">
        <div class="item left c_b">
            <p class="statis-chat-head">
                <img src="./images/head.png" alt="">
            </p>
            <div class="statis-chat-content">
                这里是最普通的文字
            </div>
            <div class="statis-chat-info">
                <p class="date">2015-10-09 13:23:23</p>
                <p>已读</p>
            </div>
        </div>
        <div class="item left c_b">
            <p class="statis-chat-head">
                <img src="./images/head.png" alt="">
            </p>
            <div class="statis-chat-content">
                这里是最普通的文字
            </div>
            <div class="statis-chat-info">
                <p class="date">2015-10-09 13:23:23</p>
                <p>已读</p>
            </div>
        </div>
        <div class="item right c_b">
            <p class="statis-chat-head">
                <img src="./images/head.png" alt="">
            </p>
            <div class="statis-chat-content">
                这里是最普通的文字
            </div>
            <div class="statis-chat-info">
                <p class="date">2015-10-09 13:23:23</p>
                <p>已读</p>
            </div>
        </div>

        <div class="item right c_b">
            <p class="statis-chat-head">
                <img src="./images/head.png" alt="">
            </p>
            <div class="statis-chat-content">
                这里是最普通的文字
            </div>
            <div class="statis-chat-info">
                <p class="date">2015-10-09 13:23:23</p>
                <p>已读</p>
            </div>
        </div>
        <div class="item left c_b">
            <p class="statis-chat-head">
                <img src="./images/head.png" alt="">
            </p>
            <div class="statis-chat-content">
                这里是最普通的文字
            </div>
            <div class="statis-chat-info">
                <p class="date">2015-10-09 13:23:23</p>
                <p>已读</p>
            </div>
        </div>
        <div class="item left c_b">
            <p class="statis-chat-head">
                <img src="./images/head.png" alt="">
            </p>
            <div class="statis-chat-content">
                这里是最普通的文字
            </div>
            <div class="statis-chat-info">
                <p class="date">2015-10-09 13:23:23</p>
                <p>已读</p>
            </div>
        </div>
        <div class="item right c_b">
            <p class="statis-chat-head">
                <img src="./images/head.png" alt="">
            </p>
            <div class="statis-chat-content">
                这里是最普通的文字
            </div>
            <div class="statis-chat-info">
                <p class="date">2015-10-09 13:23:23</p>
                <p>已读</p>
            </div>
        </div>

        <div class="item right c_b">
            <p class="statis-chat-head">
                <img src="./images/head.png" alt="">
            </p>
            <div class="statis-chat-content">
                这里是最普通的文字
            </div>
            <div class="statis-chat-info">
                <p class="date">2015-10-09 13:23:23</p>
                <p>已读</p>
            </div>
        </div>
        <div class="item left c_b">
            <p class="statis-chat-head">
                <img src="./images/head.png" alt="">
            </p>
            <div class="statis-chat-content">
                这里是最普通的文字
            </div>
            <div class="statis-chat-info">
                <p class="date">2015-10-09 13:23:23</p>
                <p>已读</p>
            </div>
        </div>
        <div class="item left c_b">
            <p class="statis-chat-head">
                <img src="./images/head.png" alt="">
            </p>
            <div class="statis-chat-content">
                这里是最普通的文字
            </div>
            <div class="statis-chat-info">
                <p class="date">2015-10-09 13:23:23</p>
                <p>已读</p>
            </div>
        </div>
        <div class="item right c_b">
            <p class="statis-chat-head">
                <img src="./images/head.png" alt="">
            </p>
            <div class="statis-chat-content">
                这里是最普通的文字
            </div>
            <div class="statis-chat-info">
                <p class="date">2015-10-09 13:23:23</p>
                <p>已读</p>
            </div>
        </div>

        <div class="item right c_b">
            <p class="statis-chat-head">
                <img src="./images/head.png" alt="">
            </p>
            <div class="statis-chat-content">
                这里是最普通的文字
            </div>
            <div class="statis-chat-info">
                <p class="date">2015-10-09 13:23:23</p>
                <p>已读</p>
            </div>
        </div>
    </div>
</div>