.statis-chat-item{
  width: 100%;
  h3{
    padding:0 10px 0 20px;
    margin-bottom:20px;
    height: 52px;
    line-height: 52px;
    background: #f6f6f6;
    font-weight:normal;
    p{
      float: left;
      margin-right:30px;
      cursor: pointer;
      &.on{
        color:#348bff;
        i{
         &.all{
          background-image: url("./images/all_on.svg");
         }
          &.file{
            background-image: url("./images/file_on.svg");
          }
          &.img{
            background-image: url("./images/img_on.svg");
          }
        }
      }
      i{
        display: inline-block;
        width: 13px;
        height: 14px;
        -webkit-background-size: 13px 14px;
        background-size: 13px 14px;
        vertical-align: middle;
        &.all{
          background-image: url("./images/all.svg");
        }
        &.file{
          background-image: url("./images/file.svg");
        }
        &.img{
          background-image: url("./images/img.svg");
        }
      }
      input{
        vertical-align: middle;
      }
    }
    .set-date{
      width:220px;
      height: 32px;
      float: left;
      margin-top:10px;
      background: #fff;
    }
  }
  .mr-18{
    margin-right:18px;
  }
  .statis-chat-list{
    overflow: hidden;
    .item{
      padding:0 20px;
      margin-bottom:17px;
      .statis-chat-head{
        width: 40px;
        height: 40px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        img{
          width: 40px;
          height: 40px;
        }
      }
      .statis-chat-content{
        margin:0 16px;
        padding:5px;
        max-width: 380px;
        line-height: 20px;
        font-size:12px;
        color:#585858;
        background: rgb(250, 250, 250);
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
      }
      .statis-chat-info{
        width:128px;
        color:#999;
        p{
          line-height: 17px;
          &.date{
            line-height: 15px;
          }
        }
      }
      &.left{
        .statis-chat-head{
          float: left;
        }
        .statis-chat-content{
          float: left;
        }
        .statis-chat-info{
          float: left;
        }
      }
      &.right{
        .statis-chat-head{
          float: right;
        }
        .statis-chat-content{
          float: right;
          background: rgba(47, 194, 91, 0.2);
        }
        .statis-chat-info{
          float: right;
          text-align: right;
        }
      }
    }
  }
}