.statis-header{
  padding:0 20px;
  height:50px;
  border-bottom:1px solid #e5e5e5;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  line-height: 50px;
  .txt{
    font-size: 16px;
    font-weight:bold;
    color:#2e2e2e;
  }
  span{
    margin-right:10px;
    display: inline-block;
    width: 70px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    border-radius:4px;
    &:hover,&.on{
      background: #348bff;
      color:#fff;
    }
  }
  .date-container{
    float: left;
    width: 256px;
    height: 32px;
    margin:8px 36px 0 17px;
  }
}