<div class="statis-header">
    <p class="fl txt">{{selectdateHeadCtrl.data.title}}</p>
    <div class="fr">
        <div class="fl">
            <span ng-repeat="item in selectdateHeadCtrl.data.monthSel track by $index" ng-click="selectdateHeadCtrl.setDate(item.value,$index);" ng-class="{'on':$index==selectdateHeadCtrl.setMonthIndex}">{{item.name}}</span>
        </div>
        <div class="date-container" ng-click="$event.stopPropagation();">
            <date-tem data="selectdateHeadCtrl.data"></date-tem>
        </div>
    </div>
</div>