.set-date-box{
  height: 30px;
  line-height: 28px;
  border:1px solid #c8c8c8;
  border-radius: 4px;
  font-size: 12px;
  color:#939393;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  img{
    margin-left:10px;
    vertical-align: text-bottom;
  }
}