
<div class="trend c_b">
    <div class="trend-header">
        <p class="fl">{{trendCtrl.data.title}}</p>
        <div class="fl select-date">
            <div class="fl"> <set-date placeholder="开始时间"></set-date></div>
            <div class="fl"> <set-date placeholder="结束时间"></set-date></div>
        </div>
        <div class="fl mt-8">
            <select-time></select-time>
        </div>
    </div>
    <div class="trend-container">
        <div class="fl trend-container-tab">
            <ul>
                <li ng-repeat="item in trendCtrl.navList track by $index">
                    <a href="">
                        <p>{{item.name}}</p>
                        <p>{{item.num}}</p>
                    </a>

                </li>
            </ul>
        </div>
        <div class="fl trend-container-content">
            <div class="top c_b">
                <p>
                    总交易人数：100人
                </p>
                <p>
                    时间范围：近一个月
                </p>
                <p>
                    最大交易次数：50次
                </p>
            </div>
            <div class="trend-data-hints c_b">
                <p><span></span>TOP1</p>
                <p><span></span>TOP2</p>
                <p><span></span>TOP3</p>
            </div>
            <div id="ana-trend-data" style="width:800px;height:426px;" ></div>
            <div class="line"></div>
        </div>
    </div>
</div>