.box-sizing{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.trend{
  height: 64px;
  font-size:12px;
  border-bottom:1px solid #dcdcdc;
  .trend-header{
    height: 64px;
    padding-top: 18px;
    @extend .box-sizing;
    line-height: 28px;
    >p{
      margin-right:32px;
      width: 122px;
      font:{size:14px;weight:bold};
      text-align: center;
    }
    .select-date{
      margin-right:10px;
      div{
        width: 200px;
        margin-right:24px;
      }
    }
    .mt-8{
      margin-top:8px;
    }
  }
  .trend-container{
    .trend-container-tab{
      padding:22px 17px 22px;
      border-right:1px solid #dcdcdc;
      @extend .box-sizing;
      ul{
        li{
          padding:9px 0 0 15px;
          width: 120px;
          height: 72px;
          line-height: 28px;
          font-weight:bold;
          -webkit-border-radius:8px;
          -moz-border-radius:8px;
          border-radius:8px;
          @extend .box-sizing;
          &:hover{
            background: #e1edfe;
            a{
              color:#5ea1fe;
            }
          }
        }
      }
    }
    .trend-container-content{
      position: relative;
      padding-top:18px;
      @extend .box-sizing;
      .top{
        height: 30px;
        line-height: 30px;
        p{
          margin-left: 48px;
          float: left;
        }
      }
      .trend-data-hints{
        position: absolute;
        top:70px;
        left:130px;
        p{
          width: 104px;
          height: 30px;
          float: left;
          color:#a0a0a0;
          line-height: 30px;
          span{
            display: inline-block;
            margin-right:14px;
            width:20px;
            height: 12px;
            -webkit-border-radius:2px;
            -moz-border-radius:2px;
            border-radius:2px;
            vertical-align: middle;
          }
        }
        p:nth-of-type(1) span{
          background: #ff7373;
        }
        p:nth-of-type(2) span{
        background: #ffa868;
        }
        p:nth-of-type(3) span{
          background: #ffe168;
        }

      }
      .line{
        position: absolute;
        bottom:30px;
        background:#dcdcdc;
        width: 100%;
        height:1px;
      }
    }
  }
}