.b_w{
  background: #fff;
}
.h_100P{
  height: 100%;
}
.box_shadow{
  -webkit-box-shadow: 0 0 10px #e2e2e2;
  -moz-box-shadow: 0 0 10px #e2e2e2;
  box-shadow: 0 0 10px #e2e2e2;
}
.box-sizing{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.ana{
  .ana-nav{
    margin-top:23px;
    height:138px;
    @extend .b_w;
    @extend .box_shadow;
    ul{
      height: 100%;
      li{
        width: 130px;
        height: 100%;
        float: left;
        @extend .box-sizing;
        cursor: pointer;
        text-align: center;
        border:none;
        i{
          &.idcard{
            background: url("images/idcard_data.png");
          }
          &.phone{
            background: url("images/phone_data.png");
          }
          &.address{
            background: url("images/address_data.png");
          }
          &.ip{
            background: url("images/ip_data.png");
          }
          &.website{
            background: url("images/website_data.png");
          }
          &.bankcard{
            background: url("images/bankcard_data.png");
          }
          &.flight{
            background: url("images/flight_nodata.png");
          }
          &.date{
            background: url("images/date_nodata.png");
          }
          &.consumption{
            background: url("images/consumption_nodata.png");
          }
          &.thesaurus{
            background: url("images/thesaurus_nodata.png");
          }
        }
        &.on{
          i{
            &.idcard{
              background: url("images/idcard_data.png");
            }
            &.phone{
              background: url("images/phone_data.png");
            }
            &.address{
              background: url("images/address_data.png");
            }
            &.ip{
              background: url("images/ip_data.png");
            }
            &.website{
              background: url("images/website_data.png");
            }
            &.bankcard{
              background: url("images/bankcard_data.png");
            }
            &.flight{
              background: url("images/flight_nodata.png");
            }
            &.date{
              background: url("images/date_nodata.png");
            }
            &.consumption{
              background: url("images/consumption_nodata.png");
            }
            &.thesaurus{
              background: url("images/thesaurus_nodata.png");
            }
          }
          &:hover{
            border:2px solid #5ea1fe;
            b{
              visibility: hidden;
            }
          }
        }
      }
    }
  }
  .ana-container{
    margin-top:24px;
    color:#545454;
    .ana-container-left{
      padding:12px 30px;
      width: 320px;
      @extend .b_w;
      @extend .h_100P;
      @extend .box_shadow;
      @extend .box-sizing;
    }
    .ana-container-right{
      margin-left:24px;
      width: 956px;
      @extend .b_w;
      @extend .h_100P;
      @extend .box_shadow;
    }
    a{
      color:#545454;
    }
  }
}
