<div class="wrap">
    <div class="ana">
        <div class="ana-nav">
            <ul class="c_b">
                <li ng-repeat="item in analyzeCtrl.items track by $index">
                    <a ui-sref=".{{item.class}}({id:{{item.totalCount}}})">
                        <nav-item data="{item}"></nav-item>
                    </a>


                </li>
            </ul>
        </div>
        <div class="ana-container" ng-style="{height:analyzeCtrl.anaContainerHeight}">
            <div ui-view class="h_100P"></div>
        </div>
    </div>

</div>