<div class="materials-list">
    <div class="materials-list-title"><span>检材列表</span><i></i></div>
    <div class="materials-list-content" id="materials-list-content">
        <div class="materials-list-ul">
            <ul class="c_b" ng-style="{'transform':materialsListCtrl.dataTranslateX}">
                <li ng-repeat="item in materialsListCtrl.materialsList track by $index"  ui-sref=".{{materialsListCtrl.type2}}({id:'{{item.id}}'})" ui-sref-opts="{reload:'.{{materialsListCtrl.type2}}'}" ui-sref-active="on">
                    <!-- todo 这里需要记录标签重复点击 强制刷新路由 -->
                    <a href="javascript:void(0);">
                        <p class="head">
                            <img ng-src="{{materialsListCtrl.loadImage(item.imgUrl)}}" />
                        </p>

                        <p class="name">
                            {{item.name}}
                        </p>
                        <p class="tel">
                            {{item.tel}}
                        </p>
                        <i></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="control" ng-if="materialsListCtrl.showCtrl">
            <div class="left" ng-click="materialsListCtrl.toLeft();" ng-class="{'on':materialsListCtrl.haveLeft}"><i></i></div>
            <p></p>
            <div class="right" ng-click="materialsListCtrl.toRight();" ng-class="{'on':materialsListCtrl.haveRight}"><i></i></div>
        </div>
    </div>
</div>