.bg-w{
  background: #fff;
}
.box-sizing{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.materials-list{
  height:187px;
  @extend  .bg-w;
  .materials-list-title{
    padding:0 20px;
    line-height: 37px;
    border-bottom:1px solid #e1e2e4;
    span {

    }
    i{
      float: right;
      margin-top:15px;
      width:9px;
      height: 8px;
      background: url("./images/menu-btn.png") no-repeat;
      vertical-align: text-bottom;
    }
  }
  .materials-list-content{
    padding:16px 20px 0;
    //overflow:hidden;
    //overflow-x: auto;
    position: relative;
    .materials-list-ul{
      overflow-x: hidden;
    }
    ul{
      width:3000px;
      li {
        float: left;
        margin-right:4px;
        width: 90px;
        height: 120px;
        position: relative;
        a{
          display: block;
          p{
            font-size:12px;
            text-align: center;
            img{
              width: 40px;
              height: 40px;
            }
            &.head{
              margin:20px 0 0 25px;
              width: 40px;
              height: 40px;
              -webkit-border-radius:50%;
              -moz-border-radius:50%;
              border-radius:50%;
              overflow: hidden;
            }
            &.name{
              line-height: 18px;
              margin-top:15px;
              color:#7f888d;
            }
            &.tel{
              line-height: 18px;
              color:#51575a;
            }
          }
          i{
            position: absolute;
            top:5px;
            right: 6px;
            width: 12px;
            height: 10px;
            background: url("./images/yes-icon.png") no-repeat;
            display: none;
          }
        }
        &:hover{
          background: #e5f6ff;
        }
        &.on{
          background: #e5f6ff;
          a i{
            display: block;
          }
        }
      }
    }
    .control{
      position: absolute;
      top:40px;
      right:30px;
      width: 51px;
      height: 70px;
      p{
        float: left;
        width: 1px;
        height: 100%;
        background: #c7c7c7;
      }
      div{
        width: 25px;
        height: 100%;
        float: left;
        line-height: 70px;
        cursor: pointer;
        i{
          display: inline-block;
          width: 8px;
          height: 8px;
          border:1px solid transparent;
          -webkit-transform: rotate(45deg);
          -moz-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          -o-transform: rotate(45deg);
          transform: rotate(45deg);
          border-top-color: #d0d0d0;
          border-right-color: #d0d0d0;
        }
        &.on i{
          border-top-color: #2e2e2e;
          border-right-color: #2e2e2e;
        }
        &.left i{
          transform: rotate(-135deg);
          margin-left:10px;
        }
        &.right i{
          margin-left:4px;
        }
      }
    }
  }

}