<div class="statistical-header">
    <div class="header-logo">
        <a href="javascript:void(0);" title="睿海星河" class="logo">
            睿海星河
        </a>
        <span>睿海星河</span>
    </div>
    <div class="header-message">
        <a href="javascript:void(0);" title="消息" class="fl msg"></a>
        <div class="fl">
            <div class="header-user"><p><img src="./images/head.jpg" alt="用户" width="24" height="24"></p><span>用户名</span></div>
            <div>

            </div>
        </div>
    </div>
</div>