.box-sizing{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.statistical-header{
  padding:0 24px;
  height: 64px;
  background: #fff;
  border-bottom:1px solid #e6e7e9;
  .header-logo{
    width: 140px;
    margin-top:16px;
    float: left;
    .logo{
      margin-right:12px;
      float: left;
      width:32px;
      height: 32px;
      overflow: hidden;
      background: #fff;
      text-align: left;
      text-indent: -9999em;
      background: url("./images/logo.png") no-repeat;
      background-size: 32px 32px;
    }
    span{
      float: left;
      line-height: 32px;
      font-size: 18px;
      font-weight: bold;
      color:#3091fa;
    }
  }
  .header-message{
    margin-top:16px;
    float: right;
    width: 140px;
    line-height: 32px;
    .msg{
      margin:6px 24px 0 0;
      display: inline-block;
      width: 16px;
      height: 21px;
      background:url("./images/remind.png") no-repeat;
      background-size: 16px 21px;
      vertical-align: middle;
    }
    .header-user{
      width: 100px;
      height: 32px;

      p{
        margin:5px 8px 0 0;
        float: left;
        width: 24px;
        height: 24px;
        border-radius:50%;
        overflow: hidden;
      }
      span{
        float: left;
      }
    }
  }
  


}