<div id="pickup-info">
    <div class="pickup-nav">
        <ul>
            <li ng-repeat="item in pickupInfoCtrl.navList track by $index">
                <a href="javascript:void(0);" ui-sref=".{{item.value}}" ui-sref-opts="{reload:'.{{item.value}}'}" ui-sref-active="on">
                    <p>{{item.name}}</p>
                    <p>({{item.num}})</p>
                </a>

            </li>
        </ul>
    </div>
    <div ui-view class="pickup-container"></div>

</div>