.box-sizing{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.bg-w{
  background: #fff;
}
#pickup-info {
  height: 100%;
  position: relative;
  @extend .bg-w;
  .pickup-nav{
    ul{
      padding:0 20px;
      display: flex;
      border-bottom: 1px solid #e5e5e5;
      li{
        flex: 10;
        text-align: center;
        a{
          padding:10px 2px 10px;
          display: block;
          height: 68px;
          color:#5a5a5a;
          @extend .box-sizing;
          &:hover{
            color:#348bff;
            border-bottom: 3px solid #348bff;
          }
          &.on{
            color:#348bff;
            border-bottom: 3px solid #348bff;
          }
          p{
            line-height: 24px;
          }
        }
      }
    }

  }
  .pickup-container{
    position: absolute;
    top:69px;
    bottom:0;
    left:0;
    width: 100%;
    overflow-y: auto;
  }
  table{
    text-align: left;
  }
}