.page-item p{
    float: left;
    height: 32px;
    line-height: 32px;
}
.page-item ul{
    float: left;
}
.page-item ul li{
    float: left;
}
.page-item ol li{
    float: none;
}
.page-item .ma-page-box{
    margin-left:24px;
}
.page-item.wp{
    margin:0 20px 20px;
}
/*.page-item .prevPage{*/
    /*background: url("./images/left.png") no-repeat center center;*/
/*}*/
/*.page-item .nextPage{*/
    /*background: url("./images/right.png") no-repeat center center;*/
/*}*/
.page-item .page-item-setcountPer{
    position: relative;
    padding-right:0 !important;
    vertical-align: middle;
    cursor: pointer;
}
.page-item .page-item-setcountPer p i{
    display: inline-block;
    margin:0 0 0 8px;
    right:11px;
    content: '';
    width: 8px;
    height: 14px;
    background: url("./images/right.png") no-repeat;
    transform: rotateZ(90deg);
}
.page-item .page-item-setcountPer p.on i{
    margin:0 0 0 8px;
    transform: rotateZ(-90deg);
}
.page-item .page-item-setcountPer ol{
    position: absolute;
    left:0;
    background: #fff;
    padding:0 !important;
}
.page-item .page-item-setcountPer ol a{
    display: block;
}
.page-item .page-item-setcountPer ol a:hover{
    background: #f2f2f2;
}