<div class="page-item wp"
     ng-style="{
     'height':pageCtrl.style.height+'px',
     'padding-left':pageCtrl.style.paddL+'px',
     'padding-right':pageCtrl.style.paddR+'px',
     'content':'',
     'display':'block'
     }">
    <div class="fl">
        <p>
            <span>共{{pageCtrl.args.allCount}}条记录</span>
            <span>第{{pageCtrl.args.current}}/{{pageCtrl.args.pageCount}}页</span>
        </p>
    </div>
    <div ng-style="{'float':pageCtrl.args.align}" class="ma-page-box" >
        <ul>
            <li ng-if="pageCtrl.args.showFirst">
                <a href="javascript:void(0);" class="firstPage" ng-style="pageCtrl.mergeStyle(pageCtrl.childStyle,pageCtrl.aCommonStyle,pageCtrl.aFirstPage)" ng-click="pageCtrl.firstPage();" ng-if="pageCtrl.args.current>1">首页</a>
                <span class="disabledF" ng-style="pageCtrl.mergeStyle(pageCtrl.childStyle.pageCtrl.aDisabledF)" ng-if="pageCtrl.args.current<=1">首页</span>
            </li>
            <li  ng-if="pageCtrl.args.showPrev">
                <a href="javascript:void(0);" class="prevPage" ng-style="pageCtrl.mergeStyle(pageCtrl.childStyle,pageCtrl.aCommonStyle,pageCtrl.aPrevPage)" ng-click="pageCtrl.prevPage()" ng-if="pageCtrl.args.current>1"><</a>
                <span class="disabled" ng-style="pageCtrl.mergeStyle(pageCtrl.childStyle,pageCtrl.aDisabled)" ng-if="pageCtrl.args.current<=1"><</span>
            </li>
            <li ng-repeat="item in pageCtrl.pageNumList track by $index">
                <a href="javascript:void(0);" ng-style="pageCtrl.mergeStyle(pageCtrl.childStyle,pageCtrl.aCommonStyle,pageCtrl.tcdNumberStyle)" ng-click="pageCtrl.loadCurrent($event,item)" ng-if="pageCtrl.args.current!=item && item!='...'">{{item}}</a>
                <span class="current" ng-style="pageCtrl.mergeStyle(pageCtrl.childStyle,pageCtrl.aCurrent)" ng-if="pageCtrl.args.current==item&&item!='...'">{{item}}</span>
                <span class="hiding" ng-style="pageCtrl.mergeStyle(pageCtrl.childStyle,pageCtrl.hidingStyle)" ng-if="item=='...'">...</span>
            </li>
            <li ng-if="pageCtrl.args.showNext">
                <a href="javascript:void(0);" class="nextPage" ng-style="pageCtrl.mergeStyle(pageCtrl.childStyle,pageCtrl.aCommonStyle,pageCtrl.aNextPage)" ng-click="pageCtrl.nextPage();" ng-if="pageCtrl.args.current!= pageCtrl.args.pageCount&&pageCtrl.args.pageCount!=1"> ></a>
                <span class="disabled" ng-style="pageCtrl.mergeStyle(pageCtrl.childStyle,pageCtrl.aDisabled)" ng-if="pageCtrl.args.current== pageCtrl.args.pageCount||pageCtrl.args.pageCount==1">> </span>
            </li>
            <li ng-if="pageCtrl.args.showLast">
                <a href="javascript:void(0);" class="lastPage" ng-style="pageCtrl.mergeStyle(pageCtrl.childStyle,pageCtrl.aCommonStyle,pageCtrl.aLastPage)" ng-click="pageCtrl.lastPage();" ng-if="pageCtrl.args.current!= pageCtrl.args.pageCount&&pageCtrl.args.pageCount!=1">尾页</a>
                <span class="disabledF" ng-style="pageCtrl.mergeStyle(pageCtrl.childStyle,pageCtrl.aDisabledF)" ng-if="pageCtrl.args.current== pageCtrl.args.pageCount||pageCtrl.args.pageCount==1">尾页</span>
            </li>
            <li>
                <div class="page-item-setcountPer c_b">
                    <p ng-class="{'on':pageCtrl.switchCountper}" ng-style="pageCtrl.mergeStyle(pageCtrl.childStyle,pageCtrl.aCommonStyle)" ng-init="pageCtrl.switchCountper=false" ng-click="pageCtrl.switchCountper=!pageCtrl.switchCountper">{{pageCtrl.args.countPer}}条/页 <i></i></p>
                    <ol ng-style="pageCtrl.mergeStyle(pageCtrl.childStyle,pageCtrl.aCommonStyle,pageCtrl.countPerList)" ng-show="pageCtrl.switchCountper">
                        <li ng-repeat="item in pageCtrl.args.PerCountList track by $index">
                            <a href="javascript:void(0);" ng-click="pageCtrl.args.countPer=item;pageCtrl.switchCountper=false;" ng-style="{'color':pageCtrl.style.color}">{{item}}条</a>
                        </li>
                    </ol>
                </div>

            </li>
            <li ng-if="pageCtrl.args.showTurn">
                <span class="countYe"  ng-style="pageCtrl.mergeStyle(pageCtrl.childStyle,pageCtrl.spanCountYe)">
                    跳转至
                    <input type="text" class="ma-page-input" ng-style="pageCtrl.inputStyle" maxlength="{{pageCtrl.args.pageCount.toString().length}}" ng-model="pageCtrl.skipNum" />页
                    <a href="javascript:void(0);" class="turndown" ng-style="pageCtrl.mergeStyle(pageCtrl.aCommonStyle,pageCtrl.aTurndown)" ng-click="pageCtrl.skipPage(pageCtrl.skipNum)">确定</a>
                </span>
            </li>
        </ul>

    </div>
</div>