<div class="fl ana-nav-item">
    <div class="fl">
        <i class="{{ctrl.data.item.class}}"></i>
        <p>{{ctrl.data.item.name}}</p>
        <p>{{ctrl.data.item.totalCount}}</p>
    </div>
    <b></b>
</div>
