.ana-nav-item{
  padding-top:22px;
  div{
    width: 129px;
    line-height: 24px;
  }
  b{
    margin-top:36px;
    float: right;
    width: 1px;
    height: 64px;
    background: #f0f0f0;
  }
  i{
    display: inline-block;
    width: 48px;
    height: 48px;
  }
}

