.set-date-box{
  padding-right:30px;
  border: 1px solid #d3d3d3;
  color:#5a5a5a;
  width: 100%;
  line-height: 30px;
  height: 32px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: url("./images/date-set.png") no-repeat right 7px top 7px;
  background-size: 15px 14px;
  input{
    width: 100%;
  }
}