<div id="friend-statis">
    <ul class="c_b">
        <li ng-repeat="item in friendStatisCtrl.dataList track by $index">
            <div class="bar-container" ng-if="item.xData.length>0 && item.yData.length>0">
                <bar-common
                        name="item.name"
                        id-name="item.value"
                        xdata="item.xData"
                        ydata="item.yData"
                        bar-color="item.barColor"
                        style="width:100%"
                ></bar-common>
            </div>
            <div ng-if="item.xData.length===0 || item.yData.length===0">

            </div>
        </li>
    </ul>
</div>