<div id="attention-info">
   <div class="statis-chat-list-container">
       <h2>
           <img src="./images/wechat.svg" alt="" width="24" height="24">
           <span>与"王阿姨"的聊天记录</span>
           <i></i>
       </h2>
       <chat-item></chat-item>

   </div>
</div>