.statis-chat-list-container{
  background: #fff;
  width: 640px;
  h2{
    padding:0 28px 0 20px;
    height: 52px;
    line-height: 52px;
    img{
      vertical-align: middle;
      margin-right:16px;
    }
    i{
      float: right;
      margin-top:20px;
      width:12px;
      height: 12px;
      background: url("./images/close.png") no-repeat;
      -webkit-background-size: 12px 12px;
      background-size: 12px 12px;
    }
  }
}