<div class="res-search-box clearfix">
    <div class="wrap pr">
        <div class="clearfix">
            <div class="fl">
                <a href="../search" class="res-logo">
                    <img src="images/pic_search_logo.png" alt="logo" />
                    <span><%= titleName %></span>
                </a>
            </div>
            <div class="fr head-pos">
                <div class="fl res-search-container">
                    <form>
                        <input type="text" style="display: none;" />
                        <input type="text" style="display: none;" />
                        <input type="text" placeholder="请输入报表名" class="res-search-text" maxlength="45" id="form-search-text" name="keyword" autocomplete="off" ng-model="data.currentSearchForm" ng-keyup="getSearchFormCurrentData($event);" />
                        <input type="button" value="查找报表" class="res-search-btn" id="res-search-btn" ng-click="getSearchFormCurrentData();data.currentSearchForm?setRecord(1):'';" />
                    </form>
                </div>
                <div class="search-only-box fl" style="width: 192px;"></div>
            </div>
        </div>

        <div class="login-info-container source-list-login" id="no_user" style="display: none;">
            <div class="login-info-content">
                <img src="images/icon_search_avatar.png" alt="user-head" />
                <span>请登录</span>
            </div>
        </div>
        <div class="login-info-container source-list-login fr" id="yes_user" >
            <div class="login-info-content clearfix">
                <div class="fr">
                    <div class="fl login-info-pos">
                        <img src="images/icon_search_avatar.png" alt="user-head" />
                        <span class="red-point no-read"></span>
                    </div>

                </div>
            </div>
            <div class="login-info-box">
                <div class="login-info-title">用户<span class="login-username"></span></div>
                <a href="javascript:void(0);" class="login-set">设置</a>
                |
                <a href="/messageCenter" class="message">消息</a>

                <a href="javascript:void(0);" class="out-user">退出</a>
                |
                <span class="red-message-hint no-read"></span>
                <div class="login-info-square"></div>
                <div class="login-info-square"></div>
            </div>
        </div>
    </div>
</div>