<div id="money-info">
    <div class="io-statis">
        <selectdate-head data="moneyInfoCtrl.ioStatisOption"></selectdate-head>
        <div ui-view="ioStatis"></div>
    </div>
    <div class="deal-statis">
        <selectdate-head data="moneyInfoCtrl.headOption"></selectdate-head>
        <div ui-view="dealStatis"></div>
    </div>
</div>