.box-sizing{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.bg-w{
  background: #fff;
}
#money-info{
  height: 100%;
  position: relative;
  overflow-y: auto;
  .io-statis{
    @extend .bg-w;
    height: 368px;
  }
  .deal-statis{
    @extend .bg-w;
    padding-bottom:32px;
    width: 100%;
    margin-top:10px;
    //position: absolute;
    //top:376px;
    //bottom:0;
    .statis-header{
      padding:0 20px;
      height:50px;
      border-bottom:1px solid #e5e5e5;
      @extend .box-sizing;
      line-height: 50px;
      .txt{
        font-size: 16px;
        font-weight:bold;
        color:#2e2e2e;
      }
      span{
        margin-right:10px;
        display: inline-block;
        width: 70px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        cursor: pointer;
        border-radius:4px;
        &:hover,&.on{
          background: #348bff;
          color:#fff;
        }
      }
      .date-container{
        float: left;
        width: 256px;
        height: 32px;
        margin:8px 36px 0 17px;
      }
    }


  }
}