<div id="friend-info">
    <div class="friend-list">
        <ul class="c_b">
            <li>
                <div>
                    <p>亲戚({{friendInfoCtrl.relative.length}}) <span>全部</span></p>

                    <table>
                        <tbody>
                        <tr ng-repeat="item in friendInfoCtrl.relative track by $index">
                            <td><span>{{item.app}}</span></td>
                            <td><p>{{item.otherNum}} ({{item.otherName}})</p></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </li>
            <li>
                <div>
                    <p>关系亲切({{friendInfoCtrl.relationship.length}}) <span>全部</span></p>
                    <table>
                        <tbody>
                        <tr ng-repeat="item in friendInfoCtrl.relationship track by $index">
                            <td><span>{{item.app}}</span></td>
                            <td><p>{{item.otherNum}} ({{item.otherName}})</p></td>
                        </tr>
                        </tbody>
                    </table>

                </div>

            </li>
            <li>
                <div>
                    <p>特别对象({{friendInfoCtrl.special.length}}) <span>全部</span></p>
                    <table>
                        <tbody>
                        <tr ng-repeat="item in friendInfoCtrl.special track by $index">
                            <td><span>{{item.app}}</span></td>
                            <td><p>{{item.otherNum}} ({{item.otherName}})</p></td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </li>
        </ul>
    </div>
    <div class="data-statis-container">
        <selectdate-head data="friendInfoCtrl.headOption"></selectdate-head>
        <div class="data-statis-content">
            <div ui-view>

            </div>
        </div>

    </div>
</div>