.box-sizing{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#friend-info{
  height:100%;
  position: relative;
  .friend-list{
    padding:20px 0 20px 20px;
    background: #fff;
    height: 200px;
    ul li{
      float: left;
      width:33.3%;
      div{
        height:200px;
        margin-right:56px;
        padding-bottom:8px;
        background: #f6f6f6;
        @extend .box-sizing;
        p{
          height: 38px;
          line-height: 38px;
          padding:0 20px;
          color:#2e2e2e;
          span{
            float: right;
            font-weight: bold;
            cursor: pointer;
          }
        }
        table{
          tr{
            float: none;
            line-height: 30px;
            color:#575757;
              overflow: hidden;
              -ms-text-overflow: ellipsis;
              text-overflow: ellipsis;
              white-space:nowrap;
            span{
              padding-left:20px;
              &:after{
                margin:9px 10px 0 13px;
                float: right;
                content: '';
                width: 1px;
                height:12px;
                background: #b9b9b9;
                vertical-align: text-bottom;
              }
            }
            p{
              width: 100%;
              padding:0;
              height: 30px;
              line-height: 30px;
              overflow: hidden;
              white-space: normal;
              text-overflow: ellipsis;
            }
          }
        }

      }
    }
  }
  .data-statis-container{
    width: 100%;
    margin-top:10px;
    background: #fff;
    position: absolute;
    top:240px;
    bottom:0;
    .statis-header{
      padding:0 20px;
      height:50px;
      border-bottom:1px solid #e5e5e5;
      @extend .box-sizing;
      line-height: 50px;
      .txt{
        font-size: 16px;
        font-weight:bold;
        color:#2e2e2e;
      }
      span{
        margin-right:10px;
        display: inline-block;
        width: 70px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        cursor: pointer;
        border-radius:4px;
        &:hover,&.on{
          background: #348bff;
          color:#fff;
        }
      }
      .date-container{
        float: left;
        width: 256px;
        height: 32px;
        margin:8px 36px 0 17px;
      }
    }
    .data-statis-content{
      position: absolute;
      top: 50px;
      bottom: 0;
      width: 100%;
      left:0;
      overflow-y: auto;
    }
  }
}